.logo{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.active-link{
    color: rgb(235, 180, 122);
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}

.link{

}

#navLink-item:hover{
    scale:1.1;
    transition: all 0.5s;
}

.small-devices-hide{
    max-width: 350px;
    min-width: 200px;
    width: 50%;
}

.small-devices-show{
    max-width: 350px;
    min-width: 140px;
    width: 20%;
    margin-right: 30px;
    flex-shrink: 1;
}

@media (max-width:899px) {
    .small-devices-hide{
        display: none;
    }

    .small-devices-show{
        display:block;
    }
}

@media (min-width:900px) {
    .large-devices-show{
        display: block;
    }
    .large-devices-hide{
        display: none;
    }
}